@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

nav{
    width:100vw;
    background-color: black;
    display:flex;
    justify-content: space-between;
    position:fixed;
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    height:76px;
    padding:40px;
}
.navbar div,.navbar div a{
   color:white;
   font-weight: bolder;
   list-style-type: none;
   text-decoration: none;
   margin-left:30px;

}
.enroll{
   display:flex;
   flex-direction: row;
   justify-content:flex-start;
   align-items: center;
   height:76px;
   padding:40px;
}
.enroll div a{
   color:white;
   font-weight: bolder;
   text-decoration:none;
   margin-left:20px;
}
.brand{
   font-size: xx-large;
   font-family: 'The Nautigal', cursive;
}
.SignUp a,.login a{
   background-color: red;
   padding:10px;
   border-radius:10px;
}
button{
   display:none;
}
.blank{
   height:77px;
}
.Gear a:hover,.software a:hover,.home a:hover,.contact a:hover,.login a:hover,.SignUp a:hover{
   border-bottom:2px solid white;
}

.introduction{
   height:calc(85vh);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap;
   /* background: url('https://devoncrawford.io/static/images/IMG_1691.jpg')
   no-repeat center center/cover;
   z-index=-1;
   opacity:0.7; */
}

.introduction p{
   font-size: xx-large;
   font-family: 'Yuji Hentaigana Akebono', cursive;
   color:rgb(54, 236, 108);
   flex-wrap:wrap;
   text-align: center;
}
.introduction::before {
   content: '';
   background: url('https://devoncrawford.io/static/images/IMG_1691.jpg')
       no-repeat center center/cover;
   position: absolute;
   opacity: 0.7;
   width: 100vw;
   height:85vh;
   z-index: -1;
}
.resume{
   background-color:rgb(177, 40, 177);
   padding:10px;
   border-radius:10px;
}
.resume a{
   text-decoration: none;
   font-size:large;
   color:white;
}
.resume a:hover{
   color:yellow;
   border-bottom:1px solid yellow;
}
.MyWork{
   margin-top:10px;
   height:calc(40vh);
   width:100vw;
   border:1px solid rgb(214, 91, 214);
   padding:10px;
}
.popularProject{
   margin-top:10px;
   height:calc(40vh);
   width:100vw;
   border:1px solid rgb(214, 91, 214);
   padding:10px;
}

/* ------------------------------------footer design starts---------------------------------------- */
footer{
   display:flex;
   flex-direction: row;
   background-color:rgb(53, 51, 51);
   align-items:center;
   justify-content: space-evenly;
    padding:30px;
   /* margin-right:30px; */
   width:100vw;
   margin-top:calc(100vh);
}
.foot{
   display:flex;
   /* padding:20px; */
   flex-direction:column;
   /* background-color: black; */
   /* margin-right:90px; */
}
.foot img{
   height:130px;
   width:150px;
   border-radius:150%;
}
.foot span{
   color:white;
   margin-top:10px;
   font-size:x-large;
   font-family:'The Nautigal', cursive;
   font-weight: bolder;
   margin-left:10px;
   width:150px;
}
.links{
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   background-color: white;
   /* margin-left:70px; */
   /* margin-right:50px; */
   width:70%;
   /* height:100%; */
   /* margin-right:30px; */
   flex-wrap: wrap;
}
.links span{
   font-size: xx-large;
   color: blueviolet;
}
.text2{
   display:flex;
   justify-content: center;
   padding:20px;
   width:100%;
   align-items:center;
   height:100%;
}
.text2 img{
   height:100%;
   width:100%;
   justify-content: center;
   border-radius:70px;
   position:relative;
   background-color: white;
}
.text2 a{
   width:10%;
   text-align:center;
}
/* .contact2{
    padding-right:100px;
    text-align:center;
   width:15%;
} */
.contact2 a{
    text-decoration: none;
    color:white;
    /* margin-left:50px; */
    /* padding-right:100px; */
    font-size:xx-large;
    font-family:'The Nautigal', cursive;
}
.contact2 a:hover{
   color:yellow;
}

.linkedInLogo:hover,.twitterLogo:hover,.instagramLogo:hover,.facebookLogo:hover,.githubLogo:hover{
   width: 60%;
}


/* ------------------------------------footer design ends------------------------------------------ */

/* ------------------------------------media query fireing----------------------------------------- */
@media only screen and (max-width:499px){
   .enroll{
      display:none;
   }
   nav{
      justify-content:center;
   }
   .brand{
      font-size:small;
   }
   /* .foot span{
      font-size:small;
   } */
   .links span{
      font-size: xx-large;
   }
   .text2 a{
      width:90%;
   }
   .links{
      width:90%;
      height:100%;
      padding-top:30px;
      padding-bottom:30px;
   }
   footer{
      padding:10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .enroll,.home,.Gear,.software{
      display:none;
   }
   .menu{
        border-radius: 5px;
        margin-top:25px;
   }
   button {
      align-items:center;
      justify-content:center;
      display:flex;
      width:40px;
      height:30px;
   }
   .fill-current {
      fill: currentColor;
  }

  .w-3 {
      width: 0.75rem;
  }
  .h-3 {
      height: 0.75rem;
  }
}
@media only screen and (min-width:500px) and (max-width:600px){
   .enroll{
      display:none;
   }
   nav{
      justify-content:center;
   }
   .brand{
      font-size:small;
   }
   /* .foot span{
      font-size:small;
   } */
   .links span{
      font-size: xx-large;
   }
   .text2 a{
      width:90%;
   }
   .links{
      width:90%;
      height:100%;
      padding-top:60px;
      padding-bottom:60px;
   }
   footer{
      padding:10px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
   .enroll,.home,.Gear,.software{
      display:none;
   }
   .menu{
        border-radius: 5px;
        margin-top:25px;
   }
   button {
      align-items:center;
      justify-content:center;
      display:flex;
      width:40px;
      height:30px;
   }
   .fill-current {
      fill: currentColor;
  }

  .w-3 {
      width: 0.75rem;
  }
  .h-3 {
      height: 0.75rem;
  }
}
@media only screen and (max-width:926px){
   .enroll{
      display:none;
   }
   nav{
      justify-content:center;
      /* padding:20px; */
   }
   .brand{
      font-size: xx-large;
   }
   .foot img{
      height:150px;
      /* width:100px; */
      /* border-radius:150%; */
   }
   /* .foot span{
      /* margin-left:10px;
      font-size:large;
      width:120px;
   } */
}
/* ------------------------------------media query ends-------------------------------------------- */